/* Basics */

body {
  Margin: 8px !important;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

div[style*='margin: 16px 0'] {
  margin: 0 !important;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.webkit {
  max-width: 560px;
  margin: 0 auto;
  background-color: #F5F5F5;
}

.outer {
  Margin: 0 auto;
  width: 95%;
  max-width: 560px;
  padding-top: 42px;
  padding-bottom: 15px;
}

.inner {
  padding: 10px;
}


/* One Column Layout */

.one-column .centered {
  text-align: center;
}


/* Paragraphs */

p {
  color: #281946;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  Margin: 0;
  Margin-bottom: 10px;
}

p.h1 {
  font-size: 18px;
  font-weight: 600;
  Margin-bottom: 32px;
}

p.h2 {
  font-size: 14px;
  font-weight: 600;
  Margin-bottom: 28px;
}

p.attribution {
  font-size: 14px;
  color: #9b9b9b;
  padding: 0 0 0 8px;
  Margin-bottom: 0;
}

p.about {
  font-size: 10px;
  font-weight: 300;
  color: #6d6d6d;
  Margin-bottom: 0;
}

p.content-width {
  Margin-left: auto;
  Margin-right: auto;
  max-width: 400px;
}

  p.content-width.narrow {
  Margin-left: auto;
  Margin-right: auto;
  max-width: 350px;
}


/* Links */

a {
  color: #627CFF;
  text-decoration: none;
}

a.btn {
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}

a.btn.primary {
  background-color: #e72980;
  color: #FFFFFF;
  Margin-left: 5px;
  Margin-right: 5px;
  Margin-bottom: 10px;
}

a.btn.secondary {
  border: 1px solid #dbdee0;

  color: #281946;
  font-weight: normal;
  padding: 4px 10px 5px;
  Margin-left: 3px;
  Margin-right: 3px;
}

a.btn.small {
  font-size: 10px;
  border-radius: 2px;
}


/* Images */

img {
  border: 0;
}

img.logo {
  display: inline-block;
  Margin-bottom: 36px;
  max-width: 220px;
  height: auto;
}


/* Tables */

table {
  border-spacing: 0;
  color: #333333;
}

td {
  padding: 0;
}

table.links.primary td {
  padding: 0 8px;
}

table.links.secondary td {
  padding: 0 2px;
}

table.links.secondary td.no-right-padding,
table.links.primary td.no-right-padding {
  padding-right: 0;
}

table.links.secondary td.no-left-padding,
table.links.primary td.no-left-padding {
  padding-left: 0;
}

/* Media Queries */

@media screen and (max-width: 360px) {
  p.attribution {
    font-size: 10px;
    padding: 0 0 0 4px;
  }
}
