<html>
  <head>
    <title>Email templates</title>
  </head>
  <body>
    <ul>
      <li><a href="careteam_invitation.html">careteam_invitation.html</a></li>
      <li><a href="no_account.html">no_account.html</a></li>
      <li><a href="password_reset.html">password_reset.html</a></li>
      <li><a href="signup_clinic_confirmation.html">signup_clinic_confirmation.html</a></li>
      <li><a href="signup_confirmation.html">signup_confirmation.html</a></li>
      <li><a href="signup_custodial_clinic_confirmation.html">signup_custodial_clinic_confirmation.html</a></li>
      <li><a href="signup_custodial_confirmation.html">signup_custodial_confirmation.html</a></li>
    </ul>
  </body>
</html>