<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
  <style type="text/css">
    @media screen and (max-width: 360px) {
      p {
        font-size: 10px;
        padding: 0 0 0 4px;
      }
    }
  </style>
  <script>
    function refreshPreview() {
      var template = document.getElementById('template').value
      var locale = document.getElementById('locale').value
      if (template == "") {
        return;
      }
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("txtHint").innerHTML = this.responseText;
        }
      }
      xmlhttp.open("GET", `/preview/${template}?lang=${locale}`, true);
      xmlhttp.send();

    }
    function reloadLocales() {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          refreshPreview()
        }
      }
      xmlhttp.open("POST", `/refreshlocal`, true);
      xmlhttp.send();

    }
  </script>
</head>

<body
  style="padding:0;background-color:#ffffff;font-family:'Roboto', sans-serif;color:#575756;min-width:100%;margin:8px !important;margin:0;padding:0;min-width:100%;background-color:#ffffff;">
  <form>
    <select name=template id="template" onchange="refreshPreview()">
      <option value="">Select a template:</option>
      <option value="careteam_invitation">caregiver invitation</option>
      <option value="medicalteam_patient_invitation">medical team patient invite</option>
      <option value="medicalteam_monitoring_invitation">medical team patient monitoring invite</option>
      <option value="medicalteam_invitation">medical team invite</option>
      <option value="medicalteam_do_admin">medical team make admin</option>
      <option value="medicalteam_remove">medical team remove member</option>
      <option value="no_account">no account</option>
      <option value="password_reset">clinician password reset</option>
      <option value="patient_password_reset">patient password reset</option>
      <option value="patient_password_info">patient password info</option>
      <option value="patient_information">patient signup information</option>
      <option value="patient_pin_reset">patient PIN Reset</option>
      <option value="signup_confirmation">signup confirmation</option>
      <option value="signup_clinic_confirmation">clinician signup confirmation</option>
      <option value="signup_custodial_confirmation">custodial confirmation</option>
      <option value="app_prescription">app prescription</option>
    </select>
    <select name="lang" id="locale" onchange="refreshPreview()">
      <option value="en">en</option>
      <option value="de">de</option>
      <option value="fr">fr</option>
      <option value="it">it</option>
      <option value="es">es</option>
      <option value="nl">nl</option>
    </select>
    <button type="button" value="reload_locales" onclick="reloadLocales()">refresh locales</button>
  </form>
  <div id="txtHint">Email preview will be displayed here...</div>
</body>

</html>