"{{define \"invite\"}}
<html>
	<head>
		<title>Blip Careteam Invitation</title>
		<meta content=\"text/html; charset=UTF-8\" http-equiv=\"content-type\">
	</head>
	<body>
		<p>Hey there guru!</p>
		<p>You have been asked to take a look at {{.CareteamName}}&rsquo;s diabetes data. When you confirm below, you’ll be able to see their data {{if .ViewOnlyPerms}} and comment on what you see{{else}}, comment on what you see, and upload devicesdata on their behalf{{end}}.</p>
		{{if .IsExistingUser}}
		<p><a href=\"https://blip.tidepool.io/#/login?email={{ .Email }}&id={{ .Key }}\">Already a member? View invitation</a></p>
		<p><a href=\"https://blip.tidepool.io/#/signup?email={{ .Email }}&id={{ .Key }}\">Not a member? View invitation</a></p>
		{{else}}
		<p><a href=\"https://blip.tidepool.io/#/signup?email={{ .Email }}&id={{ .Key }}\">Not a member? View invitation</a></p>
		<p><a href=\"https://blip.tidepool.io/#/login?email={{ .Email }}&id={{ .Key }}\">Already a member? View invitation</a></p>
		{{end}}
	</body>
</html>
{{end}} {{template \"invite\" .}}"