"{{define \"invite\"}}
<html>
<head>
<title>Please be part of my diabetes care team</title>
<meta content=\"text/html; charset=UTF-8\" http-equiv=\"content-type\">
</head>
<body>
<p>Hey there!</p>
<p>I’d like you to take a look at my diabetes data with me. When you confirm below, you’ll be able to see the data{{if .ViewOnlyPerms}} and comment on what you see{{else}}, comment on what you see, and upload my devices, too{{end}}.</p>
{{if .IsExistingUser}}
<p><a href=\"https://blip-devel.tidepool.io/#/login?inviteEmail={{ .Email }}&inviteId={{ .Key }}\">Accept</a></p>
{{else}}
<p><a href=\"https://blip-devel.tidepool.io/#/signup?inviteEmail={{ .Email }}&inviteId={{ .Key }}\">Accept</a></p>
{{end}}
</body>
</html>
{{template \"invite\" .}}"