{{define \"reset\"}}
<html>
  <head>
    <title>Password reset for your Tidepool account</title>
    <meta content=\"text/html; charset=UTF-8\" http-equiv=\"content-type\">
  </head>
  <body>
   <p>Hey there!</p>
   <p>We heard you would like to reset your password for Blip or the Tidepool Uploader. Please click on the link below to change your password.</p>
   <p><a href=\"https://blip-devel.tidepool.io/#/confirm-password-reset?resetKey={{ .Key }}\">Reset</a></p>
   <p>If you did not request a password reset, please ignore this email. Your current password will continue to work.</p>
   <p>Sincerely,<br/>The Tidepool Team</p>
   <br/>
   <br/>
   <p><a href='http://tidepool.org'>Tidepool</a> is a secure data hosting platform that supports apps made for people with diabetes.</p>
  </body>
 </html>
{{end}} {{template \"reset\" .}}